@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-weight: 300;
  color: rgb(50, 50, 50);
}

.logo {
  width: 4rem;
  transition: all 200ms;
}

.logo:hover {
  transform: scale(1.1);
}

.loc-arrow {
  font-weight: 900;
  color: #fc791a;
  font-size: 18px;
}

.city {
  font-weight: 700;
  text-decoration: underline;
}

/* Navigation */
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-buttons {
  font-weight: 600;
  background-color: #ffffff00;
  border: none;
}

.nav-buttons:hover {
  background-color: #ffffff00;
  border: none;
  color: #fc791a;
}

.top-resto-btn {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #00000000;
  font-weight: bold;
  border: 1px solid #717171;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #00000031;
  margin-right: 20px;
}

.top-resto-btn:active {
  border-color: #fc791a;
  color: #fc791a;
  box-shadow: none;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 0px 1px 20px #00000018;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.site-location {
  display: flex;
  align-items: center;
}

.location {
  z-index: 2;
  margin-left: 20px;
}

.location:hover .city {
  color: #fc791a;
}

.cart {
  position: relative;
}

/* .cart:before {
  content: "0";
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 4px;
  top: 4px;
} */

.btn-arrow {
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  font-weight: bolder;
}

.btn-arrow:hover {
  cursor: pointer;
}

.btn-left {
  background-color: #e2e2e2;
  color: #717171;
}

.btn-right {
  background-color: #cfcfcf;
  color: #404040;
}

.banner-section {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.about-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-banner {
  display: flex;
  gap: 1rem;
}

.banner-img {
  width: 9rem;
}

.banner-products {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 20px;
}

.top-brand-section {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.resto-card {
  max-width: 260px;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  transition: all 400ms;
}

.resto-card:hover {
  transform: scale(0.92);
}

.resto-card-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.85) translate(-29px, -101px);
}

.resto-img-container {
  border-radius: 20px;
  box-shadow: 0 0 4px #00000046;
  padding: 3px;
  width: 240px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 6px;
}
.top-brand-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.resto-detail-container {
  padding: 10px;
}

.star {
  color: #fff;
  background-color: green;
  padding: 3px;
  font-size: 12px;
  border-radius: 10px;
}

.dot {
  font-size: 18px;
}

.resto-name {
  margin-bottom: 2px;
}

.resto-rating {
  margin-bottom: 8px;
  font-weight: bold;
}

.resto-cuisine {
  margin-bottom: 4px;
  color: #717171;
}

.resto-area {
  color: #717171;
}

.overflow-text {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.search-restaurant {
  font-size: 16px;
  padding: 4px;
  width: 400px;
  border: 2px solid #717171;
  color: #404040;
}

.search-restaurant:focus {
  outline: none;
  border-color: #feb27c;
}

.resto-search-btn {
  border: none;
  background: unset;
  position: absolute;
  font-size: 16px;
  top: 5px;
  right: 10px;
}

.resto-search-btn:hover {
  color: #fc791a;
}

.top-resto-search-bar {
  position: relative;
}

/* Skimmers */
.banner-skimmer-container {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #cfcfcf;
}

.banner-skimmer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.banner-skimmer-content {
  display: flex;
  gap: 25px;
}

.banner-skimmer {
  width: 140px;
  height: 160px;
  background-color: #eaeaea;
}

.banner-skimmer-title {
  width: 400px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.banner-skimmer-btns {
  display: flex;
  gap: 10px;
}

.banner-skimmer-btns div {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #eaeaea;
}
.banner-skimmer-btns div:last-child {
  background-color: #d8d8d8;
}

.resto-skimmer-container {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.resto-header-skimmer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}

.resto-header-skimmer-title {
  width: 400px;
  height: 30px;
  background-color: #eaeaea;
}

.resto-header-skimmer-search {
  width: 400px;
  height: 30px;
  background-color: #eaeaea;
}

.resto-top-filter-skimmer {
  width: 100px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 4px;
}

.resto-card-skimmer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img-skimmer {
  width: 260px;
  height: 150px;
  border-radius: 20px;
  background-color: #eaeaea;
  margin-left: -10px;
}

.card-title-skimmer {
  width: 240px;
  height: 20px;
  background-color: #e2e2e2;
}

.card-rating-skimmer {
  width: 200px;
  height: 20px;
  background-color: #eaeaea;
}

.card-cuisine-skimmer {
  width: 220px;
  height: 20px;
  background-color: #e2e2e2;
}

.card-locality-skimmer {
  width: 160px;
  height: 20px;
  background-color: #e2e2e2;
}

.resto-item-skimmer {
  display: flex;
  gap: 40px;
}

/* Restaurant Menu*/
.restaurant-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed grey;
}

.restaurant-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.restaurant-rating span:first-child {
  padding: 2px;
}

.restaurant-rating span:last-child {
  padding: 2px;
  border-top: 1px solid grey;
}
